/* 전체 페이지 스타일 */
.recommendation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 20px; /* 아래 여백 추가 */
}

.recommendation-page-header h1 {
  font-size: 2rem;
  color: #333;
}

/* 콘텐츠 컨테이너 */
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 120px); /* 추가된 여백 반영 */
  gap: 20px;
}

/* 왼쪽 섹션 */
.left-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 진단 박스 */
.diagnosis-box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.diagnosis-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.diagnosis-title {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  flex: 1;
}

.diagnosis-content {
  color: #000;
  flex: 2;
  text-align: left;
}

.diagnosis-content-recommend {
  color: blue;
  font-weight: bold;
  flex: 2;
  text-align: left;
}

/* 지도 컨테이너 */
.map-container {
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e0f7fa;
}

/* 오른쪽 섹션 */
.right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hospital-list-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.hospital-list-container strong {
  font-size: 1.2rem;
  color: #007bff;
}

.section-divider {
  border: none;
  border-top: 2px solid #007bff;
  margin: 10px 0;
}

.hospital-list-and-distance {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 10px;
}

.hospital-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s; /* 부드러운 전환 효과 */
}

.hospital-item:hover {
  cursor: pointer;
  background: #e0f7fa;
}

.hospital-item.selected {
  background: #e0f7fa; /* 클릭된 상태의 색상 */
}

.hospital-distance {
  font-size: 0.9rem;
  color: #777;
}

/* 병원 선택 버튼 스타일 */
.hospital-select-button {
  align-self: flex-end;
  padding: 10px 25px; /* 버튼 크기 키우기 */
  font-size: 15px; /* 텍스트 크기 키우기 */
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px; /* 둥근 모서리 */
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hospital-select-button:hover {
  background-color: #0056b3; /* hover 효과 */
}