.landing-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f8ff;
}

.header {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #cbd1d9;
  overflow: hidden;
}

.header-image {
  flex: 1;
  height: auto;
  /* background-color: white; */
  max-width: 220px;
  padding: 100px;
  object-fit: cover;
  margin:0 60px;
}

.description {
  flex: 1;
  text-align: center;
  font-size: 25px;
  color: #333333;
  padding: 20px;
}

.description h2 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #222222;
}

.description p {
  line-height: 1.5;
}

/* 시작하기 버튼 디자인 */
.get-started-button {
  margin-top: 5px;
  padding: 20px 80px;
  font-size: 30px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* 시작하기 버튼 마우스 커서 색 변화효과 */
.get-started-button:hover {
  background-color: #0056b3;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f8ff;
}

.feature {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  max-width: 40%; /* Set feature width to half of the container */
  padding: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-image {
  width: 120px;
  height: 120px;
  margin-right: 40px;
}

.feature-text {
  text-align: left;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border-color: black;
  border-radius: 8px;
  background-color: #f9f9f9; /* 항목 배경색 추가 */
}

.feature-text h3 {
  font-weight: 900;
}