.navbar {
  background-color: #f0f8ff; /* 랜딩 페이지 배경색과 조화되는 색상 */
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #cbd1d9;
}

.navbar-logo-image {
  width: 250px;  /* 원하는 크기로 설정 */
  height: auto;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  padding: 15px;
  gap: 30px;
}

.navbar-button {
  padding: 10px 25px;
  font-size: 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 25px; /* 둥근 모서리 */
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #0056b3;
}