.navbar {
  background-color: #f0f2f5; /* 로그인 페이지의 배경색과 일치 */
  color: #007bff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #007bff; /* 상단 경계선 추가 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 메뉴바 그림자 */
}

.navbar-logo h1 {
  margin: 0;
  color: #007bff;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu li a, .navbar-menu li button {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar-menu li a:hover, .navbar-menu li button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.navbar-button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
}

.navbar-button:hover {
  color: #0056b3;
  text-decoration: underline;
}